<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Employees</title>
</head>
<body>
<div class="mainHeader">
    <h1>Employees</h1>
    <button type="button" class="addButton">Add New Employee</button>
</div>

<div class="mainContainer">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Address</th>
            <th>Category</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% employees.forEach(employee => { %>
            <tr>
                <td><%= employee.id %></td>
                <td><%= employee.name %></td>
                <td><%= employee.birthdate %></td>
                <td><%= employee.address %></td>
                <td><%= employee.category_id %>, <%= employee.category_name %></td>
                <td>
                    <button type="button" class="updateButton">Update</button>
                </td>
                <td>
                    <button type="button" class="deleteButton">Delete</button>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<script src="/script.js"></script>
</body>
</html>
